/* Green palette */
/* https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */

:root {
  --clr-black: #000300;
  --clr-white: #edf3ee;
  --clr-green-reg: #52796F;
  --clr-green-lightish: #84A98C;
  --clr-green-darkish: #354F52;
  --clr-green-light: #CAD2C5;
  --clr-green-dark: #2F3E46;
  --clr-gray-reg: #59656b;
  --clr-gray-light: #7a8489;
  --clr-gray-dark: #2f3e46;

  --ff-body: "sans-serif";
  --ff-heading: "Helvetica";
  --ff-title: "Arial";

  --fs-xl: 5rem;
  --fs-lg: 3rem;
  --fs-med: 2.5rem;
  --fs-sm: 2rem;
  --fs-600: 1.125rem;
  --fs-400: .875rem;
  --fs-200: .625rem;
}

/* custom fonts here */

/* CSS utility classes */
.container {
  /* border: 1px solid cyan; */
  max-width: 60em;
  margin: auto;
}

.content {
  border: 1px solid yellowgreen;
  padding: 0 6em;
  min-height: 30em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container button:hover,
.container a:hover {
  color: var(--clr-green-lightish);
}