.heading {
  padding-bottom: 1em;
  padding: 0 0 1.5em;
}

.proj {
  /* border: 1px solid peru; */
  padding-bottom: 2em;
}

.proj h1 {
  text-align: center;
  font-size: 1.3rem;
}

.proj h4 {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  gap: 7px;

  width: fit-content;
}

@media (max-width: 560px) {

  .proj-demo>h4,
  .proj-desc,
  .heading {
    padding: 0.5em 1em;
    margin: 1em 0;
  }
}

@media (min-width: 561px) {}