.heading {
  padding-bottom: 1em;
  padding: 0 0 1.5em;
}

.proj {
  /* border: 1px solid peru; */
  padding-bottom: 2em;
}

.proj h1 {
  text-align: center;
  /* font-size: 1.5rem; */
  font-family: var(--ff-title);
}

.proj h4 {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  gap: 7px;

  width: fit-content;
}

.badges>article {
  font-size: var(--fs-400);
}

@media (max-width: 560px) {

  .proj-demo>h4,
  .proj-desc {
    padding: 0.5em;
    margin: 1em 0;
  }

  .heading {
    padding: 0 1em;
  }
}

@media (min-width: 561px) {}