.content {
  margin: auto;
  width: 90%;
}

.theme-toggle-layer {
  /* border: 1px solid cyan; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle-btn {
  background: transparent;
  border: 0;
  cursor: pointer;

  display: flex;
}

.nav {
  /* border: 1px solid cyan; */
  display: none;

  font-family: var(--ff-title);
}

.hamburger, .burger-toggle-btn {
  display: none;
}

/* Mobile */
@media (max-width: 35em) {
  .nav {
    margin-top: .5em;

    font-size: var(--fs-lg);
    text-align: center;
    line-height: 1.2em;

    /* Transform nav-menu out of viewport */
    transform: translateY(10%);
    transition: transform 350ms ease-out;
  }

  .nav-open {
    display: block;
    height: 100vh;
  }

  .name {
    display: none;
  }

  .burger-toggle-btn {
    display: block;
    height: 2em;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  /* Manually create hamburger */
  .hamburger {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 2px;
    background-color: var(--clr-white);

    transition: transform 350ms ease-in-out, opacity 100ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }

  /*****************************************/
  /* Animate hamburger when nav is toggled */

  .nav-open .hamburger {
    transform: rotate(45deg) translate(1px);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }

  /*****************************************/
  /* Change hamburger color based on theme */
  .light-theme-hamburger .hamburger, .light-theme-hamburger .hamburger::before, .light-theme-hamburger .hamburger::after {
    /* border: 1px solid var(--clr-black); */
    /* border-color: black; */
    background-color: var(--clr-black);

    /* border: 2px solid var(--clr-black); */
    /* border-radius: 17px; */
  }

  /*****************************************/
}