.content {
  margin: auto;
  width: 100%;
}

/* Hovers */
.content .name:hover {
  color: var(--clr-green-lightish);
}

.theme-toggle-layer {
  /* border: 1px solid cyan; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle-layer h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-sm);
}

.theme-toggle-btn {
  background: transparent;
  border: 0;
  cursor: pointer;

  display: flex;

  /* transition for hover */
  transition: 500ms transform cubic-bezier(.68, -0.55, .27, 1.55);
}

.theme-toggle-btn:hover {
  transform: rotate(-180deg);
}

.nav {
  /* border: 1px solid cyan; */
  display: none;
  font-family: var(--ff-title);
}

.hamburger, .burger-toggle-btn {
  display: none;
}

/* Mobile */
/* @media (max-width: 35em) { */
@media (max-width: 560px) {
  .nav {
    margin-top: .5em;

    font-size: var(--fs-lg);
    text-align: center;
    line-height: 1.4em;
  }

  .nav-open {
    display: block;
    height: 100vh;
  }

  .name {
    display: none;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .burger-toggle-btn {
    display: block;
    height: 2em;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  /* Manually create hamburger */
  .hamburger {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 2px;
    background-color: var(--clr-white);

    transition: transform 350ms ease-in-out, opacity 100ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }

  /* Hamburger hover */
  .burger-toggle-btn:hover .hamburger,
  .burger-toggle-btn:hover .hamburger::before,
  .burger-toggle-btn:hover .hamburger::after {
    background-color: var(--clr-green-lightish);
  }

  /*****************************************/
  /* Animate hamburger when nav is toggled */

  .nav-open .hamburger {
    transform: rotate(45deg) translate(1px);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }

  /*****************************************/
  /* Change hamburger color based on theme */
  .light-theme-hamburger .hamburger,
  .light-theme-hamburger .hamburger::before,
  .light-theme-hamburger .hamburger::after {
    background-color: var(--clr-black);
  }

  /*****************************************/
}

@media (min-width: 561px) {
  .nav {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 1.3em;
    border-bottom: 3px solid var(--clr-gray-reg);
    font-size: var(--fs-600);

    position: relative;
  }

  .nav-links {
    /* border: 1px solid yellow; */
    width: 14em;

    display: flex;
    justify-content: space-between;
  }

  .current-link {
    border-bottom: 4px solid var(--clr-green-lightish);
    border-radius: 2px;
    padding-bottom: 10px;
  }

  .socials {
    /* border: 1px solid yellow; */
    display: flex;
    margin-top: -.4em;
  }
}